optimum-task-411411-3f4dc520069f.json
/projects/compile image/static
/projects/py_web_dev/static
/projects/compile image/venv
/projects/py_web_dev/venv
/projects/py_web_dev/__pycache__
/projects/py_web_dev/.idea
/projects/DArchive
*.mp4
*.pdf
**/venv/
**/ex-*
**/.env*
