optimum-task-411411-3f4dc520069f.json
/projects/compile image/
/projects/py_web_dev/
/projects/compile image/venv
/projects/py_web_dev/venv
/projects/py_web_dev/__pycache__
/projects/py_web_dev/.idea
